.App {
  text-align: center;
}

.App > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  @apply max-h-32;
}

.App > footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  font-weight: bold;
  @apply max-h-32;
}

main {
  @apply min-h-full;
}

header > nav {
  @apply m-1 flex justify-center text-center;
}

header > nav > * {
  @apply flex-none w-20;
}

a[href]{
  @apply text-red-900 hover:text-red-200 underline;
}
/* 
.btn-active {
  background-color: #61dafb;
  color: white;
}

.btn-active:hover {
  background-color: gold;
} */

h1 {
  color:black;
  @apply font-bold text-2xl
}

h2 {
  color:black;
  @apply font-bold text-xl
}

h3 {
  color:black;
  @apply font-bold text-lg
}


